@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0");

@font-face {
  font-family: "FontAwesome";
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0)
    format("woff");
}

a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: " \f08e ";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

ul li::before {
  color: #6d6e71;
}
.bg-deep-teal ul li::before,
.bg-dark-teal ul li::before,
.bg-light-teal ul li::before,
.bg-ada-orange ul li::before,
.bg-ada-green ul li::before,
.bg-dark-grey ul li::before,
.bg-mel-red ul li::before,
.bg-mel-rust ul li::before,
.bg-mel-green ul li::before,
.bg-mel-blue ul li::before {
  color: #ffffff;
}

.video-container {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.draggable > span:hover {
  cursor: pointer;
}

blockquote {
  quotes: "\201C""\201D";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.fa {
  font-size: 2em;
}
.tiny {
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    text-align: right;
    align-items: flex-start;
  }
  table tr {
    border: solid 2px #093c44;
    margin: 20px;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    min-width: 50%;
    text-align: left;
    font-weight: bold;
    padding-right: 27%;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  display: grid;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  height: 100%;
  grid-area: 1/1; /*and here */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*Slider Styles*/
/*!
 * jQuery UI Slider 1.13.2
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/slider/#theming
 */
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 0.8em;
  min-height: 30px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  height: 40px;
  width: 40px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Socratic Reflection */
#save {
  display: inline-block;
  text-transform: uppercase;
  background-color: #fd6000;
  color: #ffffff;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  margin-right: 10px;
  margin-bottom: 10px;
}
#save:hover {
  cursor: pointer;
  background-color: #14a0c6;
}
#save:disabled {
  background-color: #ebebe4;
  color: #6d6e71;
  cursor: not-allowed;
}
#restore {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 10px;
}
#restore:hover {
  text-decoration: underline;
}
#unsaved {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
#text_input {
  padding: 1rem;
  margin-bottom: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl md:text-3xl font-bold text-dark-gray tracking-tighter md:mt-6 mb-4;
  }
  h2 {
    @apply text-xl md:text-2xl font-bold text-dark-gray tracking-tighter mb-4;
  }
  h3 {
    @apply text-lg md:text-xl font-bold text-dark-gray tracking-tighter mb-2;
  }
  h4 {
    @apply text-base md:text-lg font-bold text-dark-gray tracking-tighter mb-2;
  }
  a {
    @apply text-mel-blue underline hover:no-underline;
  }
  p,
  ul,
  ol {
    @apply text-base md:text-lg text-dark-gray mb-2;
  }
  p:last-child {
    @apply mb-4;
  }
  ul {
    @apply list-disc ml-4 mb-4;
  }
  ol {
    @apply list-decimal ml-4 mb-4;
  }
  ul > li > ul {
    @apply list-square ml-4 my-4;
  }
  ul > li > ul > li > ul {
    @apply list-circle ml-4 my-4;
  }
  ol > li > ol {
    @apply list-roman ml-4 my-4;
  }
  ol > li > ol > li > ol {
    @apply list-lower-roman ml-4 my-4;
  }
  li {
    @apply mb-2;
  }

  /* Accordion Rules */

  .accordion-controls,
  .tabs {
    @apply list-none ml-0;
  }
  .accordion-controls li {
    @apply mb-0;
  }
  li.accordion-controls a,
  .tabs li > a {
    @apply no-underline;
  }

  /* Tabs Rules */

  .tabs,
  .tabs li {
    @apply mb-0;
  }
  .tabs li > a {
    @apply no-underline text-inherit;
  }
  .tabs li > a.text-white {
    color: #ffffff !important;
  }

  /* Timeline Rules */
  ol.relative {
    @apply list-none;
  }

  /* Scenario Rules */
  ul.response-container {
    @apply list-none;
  }

  .bg-deep-teal *,
  .bg-dark-teal *,
  .bg-light-teal *,
  .bg-ada-orange *,
  .bg-ada-green *,
  .bg-dark-gray *,
  .bg-mel-green *,
  .bg-mel-blue *,
  .bg-mel-red *,
  .bg-mel-rust *,
  header * {
    @apply text-white;
  }
  a.bg-deep-teal,
  a.bg-dark-teal,
  a.bg-light-teal,
  a.bg-ada-orange,
  a.bg-ada-green,
  a.bg-dark-grey,
  a.bg-mel-green *,
  a.bg-mel-blue *,
  a.bg-mel-red *,
  a.bg-mel-rust * {
    @apply text-white;
  }
  .bg-white * {
    @apply text-dark-gray;
  }
  a.bg-white {
    @apply text-dark-gray;
  }
}
